<!--Body-->
	<div class="header-container">
		<div class="project-select">
                <% unless session[:project_id].nil? or session[:project_id].empty? %>
                    <% Project.find(:all, :conditions => "id = #{session[:project_id]}").each do |proj| %>
                        <p class="project-name"><%= proj.name%></p>
				        <span class="project-location"><%= proj.location %><%= image_tag "project-dropdown-arrow.png" %></span>
                    <% end %>
                <% else %>
                    <p class="project-name">Select your project</p>
				    <span class="project-location"><img src="images/project-dropdown-arrow.png"/></span>
                <% end %>
		</div>
         <div id="project-select-dropdown-container">
            <ul id="project-select-dropdown">
                <% @projectlist.each do |proj| %>
				    <li loc='<%= proj.location %>'> <%= link_to proj.name, materials_path + "/" + proj.id.to_s %></li>
               <% end %>
			</ul>
        </div>
	</div>
	<div class="container">
        <div class="sub-nav">
            <ul>
                <li><%= link_to "Schedule" , projectdetails_path %></li>
                <li class="selected"><%= link_to "Machinery" , materials_path %></li>
                <li><%= link_to "Material",material_actuals_path %></li>
            </ul>
        </div>
		<table class="data">
			<tr>
				<th class="left" tooltip="Machinery Name">Asset Name</th>
                <th tooltip="Ideal Capacity">Ideal Capacity</th>
				<th tooltip="Ideal Fuel Consumption">IFC</th>
				<th tooltip="Scheduled Hours">Scheduled Hours</th>
				<th tooltip="Unavailable Hours">Unavailable Hours</th>
				<th tooltip="Utilized hours">Utilized Hours</th>
                <th tooltip="Theoretical Output">Theoretical Output</th>
                <th tooltip="Actual Output">Actual Output</th>
                <th tooltip="Theoretical Consumption">Theoretical Consumption</th>
                <th tooltip="Actual Consumption">Actual Consumption</th>
                <th class="right" tooltip="">Actions</th>
			</tr>
            <% @materials.each_with_index do |materialdetail,index| %>
            <tr <% if index%2 == 1 %> class="odd" <% end %>>
                <td class="FixedWidth"><%=h materialdetail.description %></td>
                <td><%=h materialdetail.capacity %></td>
                <td><%=h materialdetail.ifc %></td>
                <td><%=h materialdetail.scheduledhour %></td>
                <td><%=h materialdetail.unavailablehour %></td>
                <td><%=h materialdetail.utilizedhours %></td>
                <td><%=h materialdetail.theoreticaloutput %></td>
                <td><%=h materialdetail.actualoutput %></td>
                <td><%=h materialdetail.theoreticalconsumption %></td>
                <td><%=h materialdetail.actualconsumption %></td>
                <td><%= link_to 'Edit', edit_material_path(materialdetail) %></td>
            </tr>
            <% end %>
		</table>
        <% unless @material.nil? %>
        <table id="TblAddnewMaterial">
            <tr>
                <td>
                  <%= link_to 'Add new Machinery Detail', materials_path, :id => "LnkAddnewmaterial" %>
                </td>
            </tr>
        </table>
            <% form_for(@material) do |f| %>
	    	<table class="data" id="TblAddMaterialForm">
		    	<tr>
			    	<td colspan="7">
				    	<div class="data-entry-form">
                          
                            <div class="clearfix">
                                <%= f.error_messages %>
		    				</div>
			    			<ol>
				    			<li>
					    			<label for="field_2">Asset Name</label>
						    		<%= f.text_field :assetnumber, :id => "field_2", :class => "normal-textfield" %>
							    </li>
    							<li>
	    							<label for="field_4">Asset Description</label>
                                    <%= f.text_field :description, :id => "field4", :class => "normal-textfield" %>
			    				</li>
                                <li>
					    			<label for="field_5">Ideal Capacity</label>
						    		<%= f.text_field :capacity, :id => "field5", :class => "normal-textfield" %>
                                </li>
    							<li>
	    							<label for="field_6">IFC</label>
                                    <%= f.text_field :ifc, :id => "field6", :class => "normal-textfield" %>
                                </li>
				    			<li>
					    			<label for="field_7">Scheduled Hours</label>
                                    <%= f.text_field :scheduledhour, :id => "field7", :class => "normal-textfield" %>
                                </li>
                                <li>
					    			<label for="field_8">Unavailable Hours</label>
                                    <%= f.text_field :unavailablehour, :id => "field8", :class => "normal-textfield" %>
                                </li>
                                <li>
					    			<label for="field_9">Utilized Hours</label>
                                    <%= f.text_field :utilizedhours, :id => "field9", :class => "normal-textfield" %>
                                </li>
                                <li>
					    			<label for="field_10">Theoretical Output</label>
                                    <%= f.text_field :theoreticaloutput, :id => "field10", :class => "normal-textfield" %>
                                </li>
                                <li>
					    			<label for="field_11">Actual Output</label>
                                    <%= f.text_field :actualoutput, :id => "field11", :class => "normal-textfield" %>
                                </li>
                                <li>
					    			<label for="field_12">Theoretical Consumption</label>
                                    <%= f.text_field :theoreticalconsumption, :id => "field12", :class => "normal-textfield" %>
                                </li>
                                <li>
					    			<label for="field_13">Actual Consumption</label>
                                    <%= f.text_field :actualconsumption, :id => "field13", :class => "normal-textfield" %>
                                </li>
                                <li>
                                    <input type="submit" class="submit" value="Save Machinery Information" />
                                    <span>or <a href="#" id ="LnkCancel">Cancel</a></span>
                                </li>
				    		</ol>
					    </div>
				    </td>
    			</tr>
	    	</table>
            <% end %>
         <% end %>
	</div>